*{margin: 0; padding: 0; outline: 0;}
body {font-family: arial; font-size: 18px; line-height: 25px; color: #444; background: #888;}
.content{background: #f0f0f0; width: 800px; margin: 0 auto;}
.maincontent{background: #fff; min-height: 500px; padding: 5px 10px; margin: 10px;  }
.header , .footer{background: #ddd; text-align: center; padding: 10px;}
.img{height: 510px; width: 730px;}
table{width: 500px;margin: 0 auto;padding: 10px; border: 1px solid #ddd;}
input[type="text"]{width: 300px;padding: 5px 8px;}
input[type="button"],input[type="reset"],input[type="submit"]{width: 120px;padding: 5px;cursor: pointer;}
#showvalue{width: 300px;padding: 5px 8px;height: 200px;}
select{font-size: 16px; padding: 3px; cursor: pointer;}
#state{color: red;}